#infinite-scroll-switcher {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

#infinite-scroll-switcher:focus,
#infinite-scroll-switcher:focus-within,
#infinite-scroll-switcher.visible {
  position: relative;
  left: auto;
  opacity: 1;
  pointer-events: auto;
}

#infinite-scroll-switcher .keyboard-shortcuts-title {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Utility classes not working on demo - duplication of existing PF utility classes */
.pf-v6-u-pt-xl {
  padding-top: 2rem;
}
.pf-v6-u-mb-xl {
    margin-bottom: 2rem;
  }

.pf-v6-u-screen-reader {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}