name: Publish Package
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    name: publish module
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: https://npm.pkg.github.com/
          scope: '@mydobie'

      - name: Install dependencies
        run: npm i

      - name: Build demo
        run: npm run build:ci

      - name: Deploy to GH pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: dist
          clean: true
